@{
    ViewBag.Title = "Menu";

}

@section customerMenu
        {
    <button type="button" id="fundTransferBtn" onclick="location.href='@Url.Action("FundTransfer")'" class="btn btn-info ">Fund Transer</button><br />
    <button type="button" id="miniStatementBtn" onclick="location.href='@Url.Action("MiniStatement")'" class="btn btn-info ">MiniStatement</button><br />
    <button type="button" id="changePasswordBtn" onclick="location.href='@Url.Action("ChangePassword")'" class="btn btn-info ">ChangePassword </button><br />
    <button type="button" id="balanceEnquiryBtn" onclick="location.href='@Url.Action("BalanceEnquiry")'" class="btn btn-info ">BalanceEnquiry</button><br />
    <button type="button" id="customStatementBtn" onclick="location.href='@Url.Action("CustomStatement")'" class="btn btn-info ">CustomStatement</button><br />
    @*@Html.ActionLink("Fund Transer", "FundTransfer")
        @Html.ActionLink("Mini Statement", "MiniStatement")
        @Html.ActionLink("Change Password", "ChangePassword")
        @Html.ActionLink("Balance Enquiry", "BalanceEnquiry")
        @Html.ActionLink("Custome Statement", "CustomStatement")*@

}

<h2>Customer Menu</h2>
<h3>Account Number  @Session["accountNumber"]</h3>
