@{
    ViewBag.Title = "Index";
    
    
}

<h2>Manager</h2>
@Session["role"]


@section managerMenu
{
   <button type="button" id="fundTransferBtn" onclick="location.href='@Url.Action("Withdraw")'" class="btn btn-info ">Withdraw</button><br />
<button type="button" id="miniStatementBtn" onclick="location.href='@Url.Action("Deposit")'" class="btn btn-info ">Deposit</button><br />
<button type="button" id="changePasswordBtn" onclick="location.href='@Url.Action("Customer")'" class="btn btn-info ">Customer </button><br />
<button type="button" id="balanceEnquiryBtn" onclick="location.href='@Url.Action("Account")'" class="btn btn-info ">Account</button><br />
<br />
   
}